{% extends 'layouts/main.html' %}
{% block title %}About{% endblock %}
{% block content %}

<p> I currently work at <a href="https://www.serviceexpress.com" target="_blank"> Service Express </a> as a software application developer intern. My role at Service Express consists of creating and enhancing web applications used internally by the company. I also address and fix issues with our intranet that come in via software helpdesk tickets.</p>
<p> During school, I worked at the <a href="https://www.gvsu.edu/it/helpdesk/" target="_blank"> Grand Valley State University IT Help Desk</a>. This job consisted of assisting Grand Valley students, faculty, and staff with any technical issues they were dealing with. </p>
<p> In the summer of 2016 I had an internship with <a href="https://www.grmetrology.com" target="_blank">Grand Rapids Metrology.</a> My job included troubleshooting the lab calibration management software that they used, using MSSQL to implement a tracking system for the customers to use to track their equipment,
and creating digital forms for employees and customers to use to help reduce paper waste.</p>

{% endblock %}
