
{% extends 'layouts/main.html' %}
{% block title %}Home{% endblock %}
{% block content %}

<!-- <div class="page-header">
  <h1>About George Glessner</h1>
</div> -->

<p>My name is George Glessner. I am currently a senior at Grand Valley State University, studying computer science with a minor in mathematics. I have a strong passion for computing and technology, balanced with my love for the outdoors. </p>

<p>Throughout my studies at Grand Valley, I have found a great interest in software development. Courses such as Intro to Software Engineering and Structures of Programming Languages have had a great impact on me. I plan to pursue software development as a career after I graduate.</p>

<p>Courses such as Discrete Structures and Linear Algebra have also increased my interest in mathematics. Graph theory is the topic that I have found most interesting throughout my math courses. Graph theory was covered in both of my Discrete Structures courses as well as Introduction to the Structure and Mechanics of Social Networks.
</p>

{% endblock %}
