{% extends 'layouts/main.html' %}
{% block title %}Hello{% endblock %}
{% block content %}

<div class="container">
    <div class="row">
      <div class="col-md-6 col-xs">
       <div>
          <h3> <a href="https://github.com/georgeglessner/TwitterWordOccurrences" target="_blank"> Twitter Word Occurrence Analyzer </a></h3>
          <p class="project_description"> An application that analyzes a Twitter user's tweets and finds the most tweeted words.</p>
        </div>
      </div>
      <div class="col-md-6 col-xs">
        <div>
          <h3> <a href="https://github.com/georgeglessner/RedditImageDownloader" target="_blank"> Reddit Image Downloader </a></h3>
          <p class="project_description"> Download pictures and gifs from a user-given subreddit.</p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 col-xs">
        <div>
          <h3> <a href="https://github.com/georgeglessner/RokuRemote" target="_blank"> Roku Remote </a></h3>
          <p class="project_description"> A remote to control your Roku from your computer. </p>
        </div>
      </div>
      <div class="col-md-6 col-xs">
         <div>
          <h3> <a href="https://github.com/georgeglessner/CoinbaseTrader" target="_blank">Coinbase Trader</a></h3>
          <p class="project_description"> An application that buys and sells Ethereum and Bitcoin on Coinbase.</p>
        </div>
      </div>
      <div class="col-md-6 col-xs">
        <div>
          <h3> <a href="twitteraccounts"> Automated Twitter Accounts </a></h3>
        </div>
      </div>
      <div class="col-md-6 col-xs">
        <div>
          <h3> <a href="https://github.com/georgeglessner" target="_blank"> Others <img src="/static/images/github.svg" id="others" alt="github icon"></a></h3>
        </div>
      </div>
    </div>
  </div>

  {% endblock %}
