{% extends 'layouts/main.html' %}
{% block title %}About{% endblock %}
{% block content %}

<div class="container text-center">
    <a href="https://www.linkedin.com/in/george-glessner-061438ab/" target="_blank"><img src="/static/images/linkedin.png" class="social" alt="linkedin icon"></a>
    <a href="https://github.com/georgeglessner" target="_blank"><img src="/static/images/github.svg" class="social" alt="github icon"></a>
    <a href="mailto:glessneg@mail.gvsu.edu" target="_blank"><img src="/static/images/mail.png" class="social" alt="e-mail icon"></a>
  </div>

{% endblock %}
